<html>
<body bgcolor="aliceblue">

	<form method="POST" action="../controller/fileCheck1.php" enctype="multipart/form-data">
		     <table align ="center" width="30%" height='30%' border="1" >
		     	<tr>
		     		<td  align ="center" bgcolor="lightblue"><h1> Upload Any Assignment</h1></td>
		     	</tr>
                <tr >
                    <td align="left" colspan="2" bgcolor="cadetblue">

	
	   <select >
            <option value="">Operating System</option>
            <option value="">Web Technologies</option>
            <option value="">Advance Database Management System </option>
            <option value="">Computer Vision </option>
            <option value="">Dataware Housing and Data Mining </option>
 </select></br> 
            <center>	 </br>   <input type="file" name="myfile" value=""></br>
            </td></tr>
            </table>
	<center></br><input type="submit" name="Submit" value="Submit">|<a href="Home.php">Back</a></center>
	</form>
</body>
</html>