<html>
    <head>
        <body bgcolor="aliceblue">
            <form method="post" action="../controller/logincheck.php">

            <table align ="center"width="40%" height='50%' border="1" >
              <tr>
                 <td height='50px' width='50px' colspan="3" align="Center"  bgcolor="lightblue"><b><h1> SIGN IN</b><h1>
                 </td>
                
            </tr>
             <tr align="Center" hight="40%">
                 <td bgcolor="cadetblue"><b>

            User ID :  <input type="text" name="username"><br/>
     </br>  Password: <input type="Password" name="password"><br/>
       <center>  <br/> <input type="submit" name="submit"value="Login"></a>|<a href="Forgot_Password.html">Forgot Password</a> </center>
    
                   

           
            </table>
        </body>
    </head>
</html>